numpy
pandas
matplotlib
seaborn
plotly
altair
scipy
engarde
ipython
jupyter
python-dotenv
watermark>=1.3.0
pytest
tqdm
watermark
scikit-learn
scipy
nltk
gensim
spacy
textblob
pattern
pynlpl
spark-nlp
pyspark
textblob
pandas-profiling
missingno
sweetviz
textacy
tqdm